<!DOCTYPE html>
<html>
<head>
  <title>WebRTC/PeerJS Audio Chat</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="wrapper overview">
    <h1>WebRTC/PeerJS Audio Chat</h1>
    
    <p>
      This is a simple audio chat app using WebRTC with a little help from <a href="http://peerjs.com">PeerJS</a>. It uses Node to keep track of the PeerJS IDs for each call. All audio streams peer-to-peer.
    </p>
      
    <p>
      <br><br>
      <a href="/new">Start a call</a>
    </p>
  </div>

  <footer>
    <div class="wrapper">
      Created by <a href="http://noahburney.com">Noah Burney</a>.
      Source available on <a href="https://github.com/nwah/peerjs-audio-chat">GitHub</a>.
    </div>
  </footer>

</body>
</html>